{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    Choirs app
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/root.css' %}" type="text/css">

  <!-- Page specific CSS -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body>

  {% include "includes/sidenav.html" %}

  <div class="main-content">

    {% include "includes/navigation.html" %}

    {% block content %}{% endblock content %}

  </div>



</body>

</html>
