{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
    <section class="welcome">
        <div class="circle"></div>

        <div class="welcome-container">
            <div class="welcome-text-box">
                <h2><span>Choir</span>Hub</h2>
                <p> Designed specifically for small and medium choirs, <span class="choirhub-text">Choir</span>Hub allows choirmasters to upload, organize, and share songs, sheet music, and tailored audio files for each voice part.
                <p>
                Whether you're arranging practice materials or preparing for a performance, <span class="choirhub-text">Choir</span>Hub simplifies song management by enabling you to create customizable song groups and access everything in one organized place.</p>
                <p>
                Elevate your choir's practice experience, foster collaboration, and ensure each member hits the right note, every time. Get started today and bring harmony and precision to your choir rehearsals!</p>
                {% if user.is_authenticated %}
                {% else %}
                <a href="{% url 'account_signup'%}">Try it out!</a>
                {% endif %}
            </div>
        </div>

    </section>
{% endblock content %}
