{% extends 'layouts/logged_out_base.html' %}
{% load static %}


{% block content %}
    <section>
        <div class="circle"></div>
        {% include 'includes/logged_out_nav.html' %}

        <div class="container">
            <div class="text-box">
                <h2><span>Choirs</span> Management</h2>
                <h3> Welcome to the Choirs App, your ultimate tool for managing choir music efficiently and effectively.</h3>
                <p> Designed specifically for small and medium choirs, our app allows choirmasters to upload, organize, and share songs, sheet music, and tailored audio files for each voice part.
                <p>
                Whether you're arranging practice materials or preparing for a performance, the Choirs App simplifies song management by enabling you to create customizable song groups and access everything in one organized place.</p>
                <p>
                Elevate your choir's practice experience, foster collaboration, and ensure each member hits the right note, every time. Get started today and bring harmony and precision to your choir rehearsals!</p>
                <a href="3">Learn More</a>
            </div>
        </div>

    </section>
{% endblock content %}
