{% extends 'layouts/base.html' %}
{% load static %}



{% block content %}
    <section class="welcome">
        <div class="circle"></div>
        <div class="welcome-container">
            <div class="welcome-text-box">
                <h2><span>Choirs</span> </br> Management</h2>
                <h3> Welcome to the Choirs App, your ultimate tool for managing choir music efficiently and effectively.</h3>
                <a href="{% url 'about'%}">Learn More</a>
            </div>
        </div>

    </section>
{% endblock content %}
