{% extends 'layouts/logged_out_base.html' %}
{% load static %}



{% block content %}
    <section>
        <div class="circle"></div>
        <div class="container">
            <div class="text-box">
                <h2><span>Choirs</span> Management</h2>
                <h3> Welcome to the Choirs App, your ultimate tool for managing choir music efficiently and effectively.</h3>
                <a href="{% url 'about'%}">Learn More</a>
            </div>
        </div>

    </section>
{% endblock content %}
