.page-header {
    color: #1d362c; /* Echoing the color used in your div for consistency */
    text-align: center; /* Centers the heading on the page */
    margin-top: 30px; /* Spacing from the top of the page */
    margin-bottom: 50px; /* Spacing before the content starts */
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
    h2{
      font-weight: 700; /* Bold font weight for emphasis */
      font-size: 4em; /* Large size for visibility */

    }

}
