/* -----------MESSAGE FLASHING-------------- */
.flashes {
    position: fixed;  /* Positioning the messages */
    top: 70px;        /* Distance from the top of the viewport */
    right: 10px;      /* Distance from the right side of the viewport */
    width: 300px;     /* Width of the message box */
    padding: 10px;
    background-color: #f4f4f4; /* Light grey background */
    border: 1px solid #800000;    /* Grey border */
    border-radius: 5px;        /* Rounded corners */
    box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* Subtle shadow */
    animation: fadeOut 4s ease-in forwards; /* Animation to fade out */
    animation-delay: 2s;
    @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; visibility: hidden; }
  }
    z-index: 1000; /* Ensure it's on top of everything */


    li {
    margin: 5px 0; /* Space between messages */
    color: #800000;   /* Dark red text color */
    list-style-type: none;
    }

}
