$color_1: #333;
$font-family_1: Arial, sans-serif;
$background-color_1: #faf6f6;

.song-list{
  padding-left: 0;
}
.song-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    margin-bottom: 50px;
    background-color: $background-color_1;
    flex-wrap: wrap;
    border-radius: 25% 15%;
    text-align: left;


    /* Layered shadows */
    box-shadow:
        0 5px 15px rgba(0, 0, 0, 0.3),  /* Softer larger shadow */
        0 10px 20px rgba(0, 0, 0, 0.2), /* Medium shadow */
        0 15px 25px rgba(0, 0, 0, 0.1); /* Largest but lightest shadow */
    border-radius: 10px; /* Optional: adds rounded corners */
    .image-column {
      width: 100%;

      .score-image {
          img {
              width: 100%;
              max-width: 400px;
              display: none;
              margin: 0 auto;
          }
      }
      .song-title, .recording-title {
          color: $color_1;
          font-family: $font-family_1;
      }
    }

    .recording-column{
      width: 100%;
      margin: 5%;
      .song-title{
          font-weight: 700;
          margin-bottom: 30px;
      }


      .recordings {
          max-width: 100%;
          margin-left: 2%;
          .recording {
              width: 100%;
              margin-top: 10px;
              padding-bottom: 10px;
          }
          audio {
              width: 85%;
              display: block;
          }
      }
    }
}

@media (min-width: 769px) {
    .song-section {
      flex-direction: row;

      .image-column {
          display: block; // Assuming you want it visible on larger screens
          min-width: 300px;
          flex: 1;

          .score-image {
              img {
                  display: block;
              }
          }
      }
    }
    .recording-column {
      flex: 1;
    }
}
