.top-nav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 60px;

  li {
    float: left;
    list-style: none;
  }

  li a, li i, li.toggle-sidebar, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .bx-menu {
    color: var(--navTextColor);
    font-size: 35px;
    margin: 0 15px;
    cursor: pointer;
  }

  .hamburger{
    max-width: 35px;
    filter: brightness(0.5) invert(1);
    vertical-align: middle;
    cursor: pointer;
    margin: 0 15px;
  }
  .text {
    color: var(--navTextColor);
    font-size: 35px;
    font-size: 26px;
    font-weight: 600;
  }
  .right {
  margin-left: auto;
  }

  .logged-out-top-nav-logo{
    max-width: 80px;
  }
}
