@import "top_nav_base";

	.top-nav {
		height: 60px;
		.bx-menu {
			color: var(--navTextColor);
			font-size: 35px;
			margin: 0 15px;
			cursor: pointer;
		}
		.text {
			color: var(--navTextColor);
			font-size: 35px;
			font-size: 26px;
			font-weight: 600;
		}
	}
