@import "top_nav_base";

	.top-nav {
		height: 60px;
		.bx-menu {
			color: var(--navTextColor);
			font-size: 35px;
			margin: 0 15px;
			cursor: pointer;
		}

    .hamburger{
			max-width: 35px;
      filter: brightness(0.5) invert(1);
      vertical-align: middle;
			cursor: pointer;
			margin: 0 15px;

    }
		.text {
			color: var(--navTextColor);
			font-size: 35px;
			font-size: 26px;
			font-weight: 600;
		}
	}
