:root {
  /* ------------------- CS STYLES ------------------- */
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #ff6a3e;
  --primaryLight: #ffba43;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  /* ------------------- NAV STYLES ------------------- */
  --navTextColor: #fff;
  --navBackgroundColor: #11101d;
  --navBackgroundHighlightColor: #1d1b31;
  --font-family_1: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}

.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: calc(4 / 16 * 1rem);
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: calc(700 / 16 * 1rem);
  margin: 0 0 calc(16 / 16 * 1rem) 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: calc(650 / 16 * 1rem);
  margin: 0;
  color: var(--bodyTextColor);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--navBackgroundColor);
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 30px;
  color: var(--navTextColor);
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: var(--navTextColor);
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: var(--navBackgroundHighlightColor);
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: var(--navTextColor);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: var(--navTextColor);
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: var(--navBackgroundHighlightColor);
  display: none;
}

.sidebar .nav-links li .sub-menu a {
  color: var(--navTextColor);
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--navBackgroundHighlightColor);
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: var(--navBackgroundHighlightColor);
  transition: all 0.5s ease;
}

.sidebar .profile-details .profile_name {
  color: var(--navTextColor);
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar .profile-details .job {
  color: var(--navTextColor);
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
}

.sidebar .profile-details i {
  color: var(--navTextColor);
  font-size: 24px;
  margin-right: 12px;
  cursor: pointer;
}

.sidebar.close {
  width: 78px;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar.close .nav-links li .icon-link {
  display: block;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar.close .profile-details {
  background: none;
  width: 78px;
}

.sidebar.close .profile-details img {
  padding: 10px;
}

.sidebar.close .profile-details i {
  display: none;
}

.sidebar.close .profile-details .profile_name {
  display: none;
}

.sidebar.close .profile-details .job {
  display: none;
}

.sidebar.close ~ .not-the-sidebar {
  left: 78px;
  width: calc(100% - 78px);
}

.not-the-sidebar {
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.not-the-sidebar .top-bar {
  height: 60px;
  display: flex;
  align-items: center;
}

.not-the-sidebar .top-bar .bx-menu {
  color: #11101d;
  font-size: 35px;
  margin: 0 15px;
  cursor: pointer;
}

.not-the-sidebar .top-bar .text {
  color: #11101d;
  font-size: 35px;
  font-size: 26px;
  font-weight: 600;
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}

.my_nav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
  margin-left: 3em;
}

.my_nav li {
  float: left;
}

.my_nav li a, .my_nav .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.my_nav li a:hover, .my_nav .dropdown:hover .dropbtn {
  background-color: red;
}

.my_nav li.dropdown {
  display: inline-block;
}

.my_nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.my_nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.my_nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.my_nav .dropdown:hover .dropdown-content {
  display: block;
}
