.song-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin: 20px;
  margin-bottom: 50px;
  background-color: #faf6f6;
  flex-wrap: wrap;
  border-radius: 25% 15%;
  text-align: left;
  /* Layered shadows */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2), 0 15px 25px rgba(0, 0, 0, 0.1);
  /* Largest but lightest shadow */
  border-radius: 10px;
  /* Optional: adds rounded corners */
}

.song-section .image-column {
  width: 100%;
}

.song-section .image-column .score-image img {
  width: 100%;
  max-width: 400px;
  display: none;
  margin: 0 auto;
}

.song-section .image-column .song-title, .song-section .image-column .recording-title {
  color: #333;
  font-family: Arial, sans-serif;
}

.song-section .recording-column {
  width: 100%;
  margin: 5%;
}

.song-section .recording-column .song-title {
  font-weight: 700;
  margin-bottom: 30px;
}

.song-section .recording-column .recordings {
  max-width: 100%;
  margin-left: 2%;
}

.song-section .recording-column .recordings .recording {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
}

.song-section .recording-column .recordings audio {
  width: 85%;
  display: block;
}

@media (min-width: 769px) {
  .song-section {
    flex-direction: row;
  }
  .song-section .image-column {
    display: block;
    min-width: 300px;
    flex: 1;
  }
  .song-section .image-column .score-image img {
    display: block;
  }
  .recording-column {
    flex: 1;
  }
}
