.song-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}

.song-section .image-column {
  width: 100%;
}

.song-section .image-column .score-image img {
  width: 100%;
  max-width: 400px;
  display: none;
  margin: 0 auto;
}

.song-section .image-column .song-title, .song-section .image-column .recording-title {
  color: #333;
  font-family: Arial, sans-serif;
}

.song-section .recording-column {
  width: 100%;
  margin: 5% 10%;
}

.song-section .recording-column .recordings {
  max-width: 100%;
}

.song-section .recording-column .recordings .recording {
  max-width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
}

.song-section .recording-column .recordings audio {
  max-width: 100%;
  display: block;
}

@media (min-width: 769px) {
  .song-section {
    flex-direction: row;
  }
  .song-section .image-column {
    display: block;
    min-width: 300px;
    flex: 1;
  }
  .song-section .image-column .score-image img {
    display: block;
  }
  .recording-column {
    flex: 1;
  }
}
