<section id="sbsr-1444">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="{{ song.score.img.url }}">
            <source media="(min-width: 601px)" srcset="{{ song.score.img.url }}">
            <img loading="lazy" decoding="async" src="{{ song.score.img.url }}" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Giving Back</span>
            <h2 class="cs-title">{{song.title}}</h2>
            <ul class="cs-card-group">
                {% for recording in song.recordings.all %}
                <li class="cs-li">
                    <div class="cs-flex">
                        <h3 class="cs-h3">{{recording.voice_group}}</h3>
                        <audio controls>
                            <source src="{{recording.file.url}}"  type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </li>
                {% endfor %}
             </ul>
            <a href="{{ song.score.file.url}}" class="cs-button-solid">View Score</a>
        </div>
    </div>
</section>
