<section id="sbsr-1444">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Giving Back</span>
            <h2 class="cs-title">{{song.title}}</h2>
            <p class="cs-text">
                Our impact is about more than moving money to where it’s needed most it’s also about helping nonprofits access information and ideas that will help them listen, learn, and grow.
            </p>
            <ul class="cs-card-group">
                {% for recording in song.recordings.all %}
                <li class="cs-li">
                    <div class="cs-flex">
                        <h3 class="cs-h3">{{recording.voice_group}}</h3>
                        <audio controls>
                            <source src="{{recording.file.url}}"  type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </li>
                {% endfor %}
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Quick Fundraise</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Start Donating</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
            </ul>
            <a href="" class="cs-button-solid">Donate Now</a>
        </div>
    </div>
</section>
