<li class="cs-item">
    <div class="cs-flex-group">
        <span class="cs-name">
            {{song.title}}
        </span>
    </div>
    <ul id="list-1113" class="cs-ul">
        {% for recording in song.recordings.all %}
            <li class="cs-li">
                <h3 class="cs-h3">{{recording.voice_group}}</h3>
                    <audio controls>
                        <source src="{{recording.file.url}}"  type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
            </li>
        {% endfor %}
    </ul>
    <div class="spacer"></div>
    <a href="{{song.score.file.url}}" class="cs-button-1" aria-label="download the score">Get the Score</a>
</li>
