{% load static %}
<ul class="top-nav">
    {% comment %} Add logo in top nav if user is authenticated because they won't have the sidenav logo {% endcomment %}
    {% if user.is_authenticated %}
        <li>
            <img class ='hamburger toggle-sidebar' src="{% static 'img/icons/hamburger-svgrepo-com.svg' %}" alt="grouped notes">
        </li>
    {% else %}
        <a href="#"><img class="logged-out-top-nav-logo" src="{% static 'img/logo-choir-white.png' %}" class="logo"></a>
    {% endif %}

    <li class="top-nav-toggle">
        <a href=# > Menu </a>
    </li>
    <div id='top-nav-mobile' class='top-nav-closed'>
        {% include 'includes/top_nav_links.html' %}
    </div>
    <div class="top-nav-desktop">
    {% include 'includes/top_nav_links.html' %}
    </div>


</ul>


