.allauth-forms{
    background-color: red;
    border-radius: 20px;
    margin: 5% 5%;
    padding: 1em;
}

@media (min-width: 769px) {
    .allauth-forms {
        margin: 5% 20%;
        padding: 5em;
    }
}
